/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
	/*padding-top: 90px;*/
	/*padding: 60px;*/
}

.topbar {
	background-color: #141311;
	height: 55px;
	width: 110%;
	margin: -10px;
	margin-bottom: 10px;
}

#bottombar {
	background-color: #141311;
	height: 55px;
	width: 110%;
	margin: -10px;
	bottom: 0;
	position: absolute;
	/*margin-bottom: 10px;*/
	clear: both;
}

#site-name {
	text-align: center;
	font-size: 2.3em;
	clear: both;
}

a {
}

#login-options {
	float: right;
	background-color: white;
	color: #141311;
	padding: 22px;

}

.navbar {
	background-color: white;
	color: #141311;
	padding: 20px 20px 8px 20px;
	clear: both;
	/*position: absolute;*/
	/*display: block;*/
	text-align: center;
}

#navbar-line {
	border-top: 1px solid black;
	width: 55%;
	text-align: center;
	margin: auto;
}

#login-options a{
	text-decoration: none;
	color: #141311;
}

.navbar a{
	text-decoration: none;
	position: relative;
	clear: both;
	color: #141311;
}