/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
	padding-top: 90px;
	padding: 60px;
	/*background-color: #141311;*/
}

a {
}

#login-options {
	float: right;
	background-color: white;
	color: #141311;
	padding: 22px;
}

.navbar {
	background-color: white;
	color: #141311;
	padding: 22px;
	position: absolute;
	display: block;
}

#login-options a{
	text-decoration: none;
	color: #141311;
}

.navbar a{
	text-decoration: none;
	position: relative;
	clear: both;
	color: #141311;
}