@import "materialize/components/color";
$primary-color: color("grey", "darken-4") !default;
@import 'materialize';

html {
  font-family: Poiret One, serif;
}

html a {
  text-decoration: none;
  color: black;

}

.indicator-item.active{
background-color: #212121;
}

.top-review-movie-title {
	font-size: 25px;
}

.top-review-content {
	font-size: 14px;
}


.indiv-top-review {
  padding-right: 90px auto;
  text-align: center;

}

footer {
	width: 400%;
	margin-left: -900px;
}

ul.indicators {
  // color: black;
}