<div class="login-container">
	<h3>Register</h3>

  <%= @error if @error %>



  <%= form_tag "/signup", method: "post" do %>

  	<p>Username </p>
    <input type="text" name="user[username]">
    <p>Email </p>
    <input type="text" name="user[email]">
    <p>Password </p>
    <input type="password" name="user[password]">
    <p><input type="submit" value="Create Account">
  <% end %>

</div>