<div class="slider">
  <ul class="slides">
    <li><img src="http://lorempixel.com/580/250/nature/4"><div></div></li>
    <li><img src="http://lorempixel.com/580/250/nature/3"><div></div></li>
    <li><img src="http://lorempixel.com/580/250/nature/2"><div></div></li>
  </ul>
</div>

<div class="top-reviews">
	<% @top_reviews.each do |rev| %>
		
		<div class="indiv-top-review">
			<h2><%= rev.movie.title %></h2>
			<p><%= rev.content %></p>
		</div>

	<% end %>
</div>