<div class="slider">
  <ul class="slides">
    <li><img src="http://lorempixel.com/580/250/nature/4"><div></div></li>
    <li><img src="http://lorempixel.com/580/250/nature/3"><div></div></li>
    <li><img src="http://lorempixel.com/580/250/nature/2"><div></div></li>
  </ul>
</div>
