<!DOCTYPE html>
<html>
<head>
  <title>MovieThingy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- if @user && session[:user_id] -->
<nav>
<!-- 	<div class="topbar"></div>
 -->
 <div class="nav-wrapper">
    <a href="/" class="brand-logo">Stardust Reviews</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li> <a href="/login">Sign In</a> </li>
       <li> <a href="/signup">Sign Up</a></li>
       <li><a href="/movies">ALL MOVIES </a>
       </li> <li><a href="#"> ALL REVIEWS</a></li>
      </ul>
  </div>

	<!-- 	<a href="/movies">ALL MOVIES </a> | <a href="#"> ALL REVIEWS</a>
	</div> -->
<!-- 	<div id="navbar-line"></div>
 --></nav>
	<%= yield %>
	<footer class="page-footer"></footer>
</body>
</html>
